.profile-header {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    width: 56%;
}

.profile-header h2 {
    margin: auto;
    color: #ffffff;
    float: right;
    margin-right: 30px;
    margin-top: 20px;
    text-decoration: underline;
}

.new-questionnaire-button {
    float: left;
    height: 80%;
    border: 1px solid black;
    width: 180px;
    background-color: #66b78c;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 8px;
    border-right: 1px solid black;
}

.statistics-button {
    float: center;
    height: 80%;
    border: 1px solid black;
    width: 180px;
    background-color: #66b78c;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 8px;
    border-left: 1px solid black;
}

.logout-button {
    float: right;
    height: 80%;
    border: 1px solid black;
    width: 180px;
    background-color: firebrick;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 8px;
}

.new-questionnaire-button:hover {
    background-color: lightgreen;
}

.statistics-button:hover {
    background-color: lightgreen;
}

.logout-button:hover {
    background-color: lightcoral;
}

.logout-icon {
    font-size: 2rem;
}

.navbar {
    position: fixed;
    background-color: cornflowerblue;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 70px;
    padding: .5rem 1.5rem;
}

.navbar-brand {
    margin-right: 0rem;
    font-size: 1.8rem;
}

.questionnaires-tab {
    margin-top: 20px;
    margin-left: -1px;
    border-bottom: 2px solid #ffffff;
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 30px;
}

.nav-tabs .nav-item {
    margin-bottom: 0px;
}

.nav-tabs .nav-link {
    background: #66c88c;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: white;
    border-color: white;
}

.tab-content {
    width: 100%;
}

.questionnaires-table {
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    background: white;
    box-shadow: 4px 7px 8px #66b78c;
}

.questionnaires-list {
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
    background: #66c88c;
}

.questionnaires-list th {
    padding: 15px;
    background-color: white;
    color: black;
}

.questionnaires-list td {
    padding: 15px;
    color: white;
}

.questionnaires-list tr:nth-child(even) {
    background-color: #66b78c;
}

.questionnaires-list tr:nth-child(odd) {
    background-color: #66c88c;
}

.questionnaire-link {
    background: transparent;
    border: 0px;
    color: white;
    font-size: 1rem;
}