/*header*/

.questionnaires-list-button {
    margin-top: 18px;
}

.questionnaires-list-button .fa-caret-down {
    font-size: 2.5rem;
    margin-top: -3px;
    color: #66b78c;
    display: block;
}


/*home*/

.questionnaires-tab {
    margin-top: 20px;
    margin-left: -1px;
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 30px;
}

.nav-tabs .nav-item {
    margin-bottom: 0px;
}

.nav-tabs .nav-link {
    background: gray;
    color: white;
    font-size: .9rem;
    border-radius: .3rem;
    margin-top: 3px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: white;
    font-weight: bolder;
    font-size: 1rem;
    margin-top: 0px;
}

.tab-content {
    width: 100%;
    background: transparent;
}

.tab-content .active {
    width: 100%;
    background: transparent;
}

.questionnaires-list {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: .8rem;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

.questionnaires-list th {
    padding: 15px;
    background-color: transparent;
    color: black;
}

.questionnaires-list td {
    padding: 15px;
    color: black;
}

.questionnaires-list tr:nth-child(even) {
    background-color: transparent;
}

.questionnaires-list tr:nth-child(odd) {
    background-color: whitesmoke;
}

.questionnaires-list tr:first-child {
    background-color: transparent;
    border-bottom: 0px;
}

.questionnaires-list tr:last-child {
    border-bottom: 0px;
}

.questionnaires-list tr:hover {
    background-color: lightgray;
}

.questionnaires-list tr:first-child:hover {
    background-color: transparent;
    border-bottom: 0px;
}

.questionnaires-list tr:last-child:hover {
    background-color: lightgray;
    border-bottom: 0px;
}

.questionnaires-list tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.questionnaires-list tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.questionnaire-link {
    background: transparent;
    border: 0px;
    color: black;
    font-size: 1rem;
    text-decoration: underline;
}

.questionnaire-summary {
    background-color: #66b78c;
    color: white;
    font-size: 1rem;
}