.profile-header {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    width: 56%;
}

.profile-header h1 {
    margin: auto;
    color: #ffffff;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

.profile-header button {
    float: right;
    height: 100%;
    border: 1px solid black;
    width: 100px;
    background-color: firebrick;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 20px;
    cursor: pointer;
}

.profile-header button:hover {
    background-color: lightcoral;
}

.logout-icon {
    font-size: 2rem;
}

.navbar {
    position: fixed;
    background-color: cornflowerblue;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 70px;
    padding: .5rem 1.5rem;
}

.navbar-brand {
    margin-right: 0rem;
    font-size: 1.8rem;
}

.questionnaires-tab {
    margin-top: 20px;
    border-bottom: 2px solid #ffffff;
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
    left: 0;
    right: 0;
    margin: auto;
}

.questionnaires-table {
    margin-top: 20px;
    border-bottom: 2px solid #ffffff;
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
}

.questionnaires-list {
    margin-top: 20px;
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
}

.add-questionnaire-btn {
    position: absolute;
    bottom: 0;
    margin-bottom: 2px;
    font-size: 0.8rem;
    margin-left: 10px;
    background: green;
    color: white;
    right: 0;
}

.questionnaire-link {
    background: transparent;
    border: 0px;
}