/*header*/

.statistics-button {
    margin-top: 18px;
    font-weight: bolder;
}

.statistics-button .fa-caret-down {
    font-size: 2.5rem;
    margin-top: -6px;
    color: #66b78c;
    display: block;
}

.kibana {
    position: absolute;
    z-index: 0;
    width: -webkit-fill-available;
    height: 92%;
    margin-top: 68px;
    border: 0px;
}