.fade-in-bck {
    -webkit-animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-top {
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-out-top {
    -webkit-animation: fade-out-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: fade-out-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-bottom {
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-bottom {
    -webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.slide-in-right {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-right {
    -webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.slide-out-left {
    -webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.slit-in-horizontal {
    -webkit-animation: slit-in-horizontal 0.45s ease-out both;
    animation: slit-in-horizontal 0.45s ease-out both;
}

.slit-out-horizontal {
    -webkit-animation: slit-out-horizontal 0.5s ease-in both;
    animation: slit-out-horizontal 0.5s ease-in both;
}

html {
    background: #fafbfd;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.428571429;
    background-color: rgba(0, 0, 0, 0);
}

.container {
    padding-top: 90px;
}

.login-title {
    margin-bottom: 1rem;
    text-align: center;
}

.form-fieldset {
    width: 65% !important;
    margin: auto !important;
    border: none !important;
    padding: .35em .625em .75em;
}


/* legend {
    display: block;
    width: 100%;
    margin-bottom: 7px;
    font-size: 19.5px;
    line-height: inherit;
    color: #444;
    border-bottom: 1px solid #e5e5e5;
} */

.login-error {
    margin-bottom: 0rem;
    padding-inline-start: 28px;
}

.login-alert {
    padding: .75rem 0rem;
}

.NoDivTableBorder {
    border: 0px solid !important;
    padding: 0px !important;
    text-align: left;
}

input {
    display: block;
    padding: 10px 10px 10px 5px;
    border-bottom: 1px solid;
    background-color: #fcfcfc;
    border: none;
}

.hidden-label {
    font-weight: 400;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    color: #999;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    -webkit-transition: 0.2s ease all;
}

.hidden {
    display: none;
}