doctype html
html
  head
    title MelanoQ
    block style
      link(rel='stylesheet', href='/stylesheet/bootstrap.min.css')
      link(rel='stylesheet', href='http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css')
      link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.7/css/all.css')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.css')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.themes.css')
      link(rel='stylesheet', href='/stylesheet/JSON-to-Table.css')
      link(rel='stylesheet', href='/stylesheet/jquery.geocomplete.min.css')
      link(rel='stylesheet', href='/stylesheet/bootstrap-toggle.css')
      link(rel='stylesheet', href='/stylesheet/animations.css')    
      link(rel='stylesheet', href='/stylesheet/styles.css')
      link(rel='stylesheet', href='/stylesheet/login.css')
      link(rel='stylesheet', href='/stylesheet/navbar.css')
      link(rel='stylesheet', href='/stylesheet/alt.css')
      link(rel='stylesheet', href='https://osmnames.org/api/v1/autocomplete.css')
  body
    nav(class='navbar navbar-dark')
      a(class='navbar-brand', href='/home') MelanoQ
    block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
    script(src='/javascript/bootstrap.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js')
    script(src='/javascript/JSON-to-Table-1.0.0_Delete.js')
    script(src='/javascript/jquery.validate.min.js')
    script(src='/javascript/multi-step-form.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.js')
    script(src='/javascript/bootstrap-toggle.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.js')
    script(src='/javascript/MyScript.js')
    script(src='https://osmnames.org/api/v1/autocomplete.js')