extends layout

block content
  .container
    .row
        .card
          .card-header
            h6 Please enter your credentials:
          .card-body
            form.login-form(action='/login', method='POST')
              fieldset
                .input-group.form-group
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-user
                  input.form-control(type='text', name='username', placeholder='Nurse name', required='', value=locals.username)
                .input-group.form-group
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-key
                  input.form-control(type='text', name='password', placeholder='Password', required='', value=locals.password)
                if message
                  .alert.alert-danger.login-alert
                    ul.login-error
                      li #{message}
                .form-group
                  input.form-control.btn.btn-primary(type='submit', value='Login')

  //- <iframe src="http://localhost:5601/app/kibana#/dashboard?embed=true&_g=()&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),panels:!((embeddableConfig:(),gridData:(h:15,i:'9795bbc0-4367-4500-ba3f-2491724a3562',w:24,x:0,y:0),id:e4fdcab0-0ea2-11ea-8fc6-b5a2e5472e1f,panelIndex:'9795bbc0-4367-4500-ba3f-2491724a3562',type:visualization,version:'7.4.2')),query:(language:kuery,query:''),timeRestore:!f,title:'New+Dashboard',viewMode:edit)" height="600" width="800"></iframe>

            