extends layout

block content
  .container.fade-in-bck
    .row
        .card
          .card-header
            h6 Please enter your credentials:
          .card-body
            form.login-form(action='/login', method='POST')
              fieldset
                .input-group.form-group
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-user
                  input.form-control(type='text', name='username', placeholder='Nurse name', required='', value=locals.username)
                .input-group.form-group
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-key
                  input.form-control(type='text', name='password', placeholder='Password', required='', value=locals.password)
                if message
                  .alert.alert-danger.login-alert
                    ul.login-error
                      li #{message}
                .form-group
                  input.form-control.btn.btn-primary(type='submit', value='Login')
            