extends layout

block content
  div.progressline
    // progressbar
    ul#progressbar
        li.active Demographic
        li Phenotype
        li Personal Details
        li Personal Details
  div.form
    // multistep form
    form#msform
        // fieldsets
        fieldset
          div.scrollingdiv(id='scrollerdiv')
            h2.fs-title DEMOGRAPHIC
            h3.fs-subtitle This is step 1

            label(for='1350866299') Sex
            select#1350866299.form-control(name='gender' required='required' data-rule-required='true' data-msg-required='Please select your gender')
                option(value='' selected='') Select Gender...
                option(value='Female') Female
                option(value='Male') Male
            span.error1(style='display: none;')
                i.error-log.fa.fa-exclamation-triangle

            label(for='2126036184_date') Date and place of birth
            input#2126036184_date.form-control.datepicker(type='text' name="birthdate"  required='required' data-rule-required='true' data-msg-required='Please include your birthday')
            span.error1(style='display: none;')
                i.error-log.fa.fa-exclamation-triangle

            label(for='weight_input') Weight(Kg)
            input#weight_input.form-control(type='number' name='weight' required='required' data-rule-required='true' data-msg-required='Please include your weight')
            span.error1(style='display: none;')
                i.error-log.fa.fa-exclamation-triangle

            label(for='height_input') Height(Cm)
            input#height_input.form-control(type='number' name='height' required='required' data-rule-required='true' data-msg-required='Please include your height')
            span.error1(style='display: none;')
                i.error-log.fa.fa-exclamation-triangle

            label(for='ethnicity_input') Ethnicity
            select#ethnicity_input.form-control(name='ethnicity' required='required' data-rule-required='true' data-msg-required='Please include your ethnicity')
                option(value='' selected='') Select Ethnicity ...
                option(value='White/Europe') White/Europe
                option(value='White/NorthAfrica') White/NorthAfrica
                option(value='White/MiddleEast') White/MiddleEast
                option(value='White/Jewish') White/Jewish
                option(value='Black or African American') Black or African American
                option(value='Asian') Asian
                option(value='Hispanic or Latino (i.e. from South or Central America)')
                    | Hispanic or Latino (i.e.
                    | from
                    | South or Central America)
                option(value='Other') Other (Specify)
            span.error1(style='display: none;')
                i.error-log.fa.fa-exclamation-triangle
            input#OtherEthnicity.hidden-control.inputEthnicity(type='text' name="other_ethnicity")
            

            label Residency
            #myForm
                input#residency.form-control(type='text' data-geocomplete='street address' name='residency'  required='required' data-rule-required='true' data-msg-required='Please include your residency')
                span.error1(style='display: none;')
                    i.error-log.fa.fa-exclamation-triangle
                .residency_date_class
            #myMap
            #myJsonTab
            .table            

            label(for='education_input') Education
            select#education_input.form-control(name='education' required='required' data-rule-required='true' data-msg-required='Please include your education')
                option(value='' selected='') Select category...
                option(value='Up to junior high school (up to 14-16 yrs)')
                    | Up to junior high school (up to 14-16
                    | yrs)
                option(value='High school (up to 18-19 yrs)') High school (up to 18-19 yrs)
                option(value='University') University
            span.error1(style='display: none;')
                i.error-log.fa.fa-exclamation-triangle

            label(for='current_occupational_status') Current occupational status
            select#current_occupational_status.form-control(name='occupational_status' required='required' data-rule-required='true' data-msg-required='Please include your status')
                option(value='' selected='') Select Status...
                option(value='Employed') Employed
                option(value='Working at home') Working at home
                option(value='Unemployed') Unemployed
                option(value='Student') Student
                option(value='Retired') Retired
            span.error1(style='display: none;')
                i.error-log.fa.fa-exclamation-triangle

          div.alphaformfooter
          div.formfooter
          input.scroll-button-bottom(type='button')
          input.next.action-button(type='button', name='next', value='Next')


        fieldset
          div.scrollingdiv
            h2.fs-title PHENOTYPE
            h3.fs-subtitle Your presence on the social network

            label(for='skin-response') Which of the following sentences does better describe your skin response to sun exposure at noon for 30 minutes in the first days of the summer without sunscreen/clothing protection?
            select#skin-response.form-control(name='skin_response' required='required' data-rule-required='true' data-msg-required='Required field')
              option(value='') Select Skin Response ...
              option(value='Not burn') Not burn
              option(value='Burns lightly') Burns lightly
              option(value='Burns moderately') Burns moderately
              option(value='Burns severely') Burns severely
            span.error1(style='display: none;')
                i.error-log.fa.fa-exclamation-triangle

            label(for='skin-tan') Does your skin tan after a prolonged and repeated sun exposure (e.g. after several days as at the end of the summer) without protecting it with sunscreen or clothing?
            select#skin-tan.form-control.skin-tan(name='skin_tan' required='required' data-rule-required='true' data-msg-required='Required field')
              option(value='') Select Tan...
              option(value='No tan') No tan
              option(value='Tans lightly') Tans lightly
              option(value='Tans moderately') Tans moderately
              option(value='Tans deeply') Tans deeply
            span.error1(style='display: none;')
                i.error-log.fa.fa-exclamation-triangle

            label(for='1304821978') Eye Color
            select#id_eyes_color.form-control(name='eye_color' required='required' data-rule-required='true' data-msg-required='Required field')
              option(value='') Select eye color...
              option(value='Light') Light (green, blue, gray)
              option(value='Medium') Medium (light brown, hazel)
              option(value='Dark') Dark (dark brown, black)
            span.error1(style='display: none;')
                i.error-log.fa.fa-exclamation-triangle

            label(for='id_hair_color') Hair color (at age of 18 yrs)
            select#id_hair_color.form-control(name='hair_color')
              option(value='') Select hair color ...
              option(value='Red') Red
              option(value='Blonde') Blonde
              option(value='Light brown') Light brown
              option(value='Dark brown') Dark brown
              option(value='Black') Black
            span.error1(style='display: none;')
                i.error-log.fa.fa-exclamation-triangle

            label(for='id_freckles') FrecklesDefinition: Light brown small macules since childhood, on the face, during summer time (disappear in winter)
            select#id_freckles.form-control(name='freckles' required='required' data-rule-required='true' data-msg-required='Required field')
              option(value='') Select freckles frequency ...
              option(value='None') None
              option(value='Few') Few
              option(value='Some') Some
              option(value='Many') Many
            span.error1(style='display: none;')
                i.error-log.fa.fa-exclamation-triangle

            label(for='id_Nevi') Nevi frequency
            select#id_Nevi.form-control(name='nevi' required='required' data-rule-required='true' data-msg-required='Required field')
              option(value='') Select Nevi frequency ...
              option(value='None') None
              option(value='Few') Few
              option(value='Some') Some
              option(value='Many') Many
            span.error1(style='display: none;')
                i.error-log.fa.fa-exclamation-triangle

            label(for='771490717') Occupational sun exposure(i.e. outdoor occupation with at least 4 hours/day spent outdoor in the sun)
            select#id_UltravioletExposure.form-control(name='occupational_sun_exposure' required='required' data-rule-required='true' data-msg-required='Required field')
              option(value='No') No
              option(value='Yes') Yes
            .hidden-control(style='margin-top:20px;')
                label Specify the occupation:
                input#UltravioletExposure_Yes.form-control(type='text' name='sun_exposure_occupation')
                span.error1(style='display: none;')
                  i.error-log.fa.fa-exclamation-triangle
                label How many hours/day?:
                input#UltravioletExposure_hours_for_day.form-control(type='text' name='sun_hour_day')
                span.error1(style='display: none;')
                  i.error-log.fa.fa-exclamation-triangle
                label How many hours/month?:
                input#UltravioletExposure_hours_for_month.form-control(type='text' name='sun_hour_month')
                span.error1(style='display: none;')
                  i.error-log.fa.fa-exclamation-triangle
                label How many hours/year?:
                input#UltravioletExposure_hours_for_year.form-control(type='text' name='sun_hour_year')
                span.error1(style='display: none;')
                  i.error-log.fa.fa-exclamation-triangle
                label How many years ?:
                input#UltravioletExposure_many_years.form-control(type='text' name='sun_num_years')
                span.error1(style='display: none;')
                  i.error-log.fa.fa-exclamation-triangle

          div.alphaformfooter
          div.formfooter
          input.scroll-button-bottom(type='button')
          input.previous.action-button(type='button', name='previous', value='Previous')
          input.next.action-button(type='button', name='next', value='Next')


        fieldset
          div.scrollingdiv
            h2.fs-title CLINICAL EXAMINATION
            h3.fs-subtitle We will never sell it

            legend Solar Lentigines
            p
              | Definition: permanent multiple macular pigmented lesions, aggregated, in areas of chronic sun exposure,
              | do not disappear in winter
            .divTable
              .divTableRow
                .divTableCell.NoDivTableBorder
                  span Record according to severity:
                .divTableCell.NoDivTableBorder(style='padding:10px !important;')
                  select#selectRecord.form-control(name='solar_lentigines_frequency')
                    option(value='') Select...
                    option(value='None') None
                    option(value='Few') Few
                    option(value='Many') Many
              .divTableRow
                .divTableCell.NoDivTableBorder
                  span At site of melanoma (i.e. area around the site w/ a 20 cm radius)?
                .divTableCell.NoDivTableBorder(style='padding:10px !important;')
                  select#selectLentiginesSite.form-control(name='solar_lentigines_at_melanoma')
                    option(value='') Select...
                    option(value='No') No
                    option(value='Yes') Yes

            legend Nevi count
            .divTable
              .divTableRow
                .divTableCell(style='width:40%;') Site
                .divTableCell(style='width:30%;') Number(left)
                .divTableCell(style='width:30%;') Number(right)
              .divTableRow
                .divTableCell(style='width:40%;') Scalp
                .divTableCell(style='width:30%;')
                  input#inputScalpLeft.form-control(type='text', name='nevi_count_left_scalp')
                  span.highlight
                  span.bar(style='')
                .divTableCell(style='width:30%;')
                  input#inputScalpRight.form-control(type='text', name='nevi_count_right_scalp')
                  span.highlight
                  span.bar(style='')
              .divTableRow
                .divTableCell(style='width:40%;') Face(including ears)
                .divTableCell(style='width:30%;')
                  input#inputFaceLeft.form-control(type='text', name='nevi_count_left_face')
                  span.highlight
                  span.bar(style='')
                .divTableCell(style='width:30%;')
                  input#inputFaceRight.form-control(type='text', name='nevi_count_right_face')
                  span.highlight
                  span.bar(style='')
              .divTableRow
                .divTableCell(style='width:40%;') Neck
                .divTableCell(style='width:30%;')
                  input#inputNeckLeft.form-control(type='text', name='nevi_count_left_neck')
                  span.highlight
                  span.bar(style='')
                .divTableCell(style='width:30%;')
                  input#inputNeckRight.form-control(type='text', name='nevi_count_right_neck')
                  span.highlight
                  span.bar(style='')
              .divTableRow
                .divTableCell(style='width:40%;') Anterior thorax + abdomen
                .divTableCell(style='width:30%;')
                  input#inputThoraxAbdomenLeft.form-control(type='text', name='nevi_count_left_thorax_abdomen')
                  span.highlight
                  span.bar(style='')
                .divTableCell(style='width:30%;')
                  input#inputThoraxAbdomenRight.form-control(type='text', name='nevi_count_right_thorax_abdomen')
                  span.highlight
                  span.bar(style='')
              .divTableRow
                .divTableCell(style='width:40%;') Back
                .divTableCell(style='width:30%;')
                  input#inputBackLeft.form-control(type='text', name='nevi_count_left_back')
                  span.highlight
                  span.bar(style='')
                .divTableCell(style='width:30%;')
                  input#inputBackRight.form-control(type='text', name='nevi_count_right_back')
                  span.highlight
                  span.bar(style='')
              .divTableRow
                .divTableCell(style='width:40%;') Upper extremities including deltoid
                .divTableCell(style='width:30%;')
                  input#inputDeltoidLeft.form-control(type='text', name='nevi_count_left_deltoid')
                  span.highlight
                  span.bar(style='')
                .divTableCell(style='width:30%;')
                  input#inputDeltoidRight.form-control(type='text', name='nevi_count_right_deltoid')
                  span.highlight
                  span.bar(style='')
              .divTableRow
                .divTableCell(style='width:40%;') Lower extremities including gluteus
                .divTableCell(style='width:30%;')
                  input#inputGluteusLeft.form-control(type='text', name='nevi_count_left_gluteus')
                  span.highlight
                  span.bar(style='')
                .divTableCell(style='width:30%;')
                  input#inputGluteusRight.form-control(type='text', name='nevi_count_right_gluteus')
                  span.highlight
                  span.bar(style='')
              .divTableRow
                .divTableCell(style='width:40%;') Palms
                .divTableCell(style='width:30%;')
                  input#inputPalmsLeft.form-control(type='text', name='nevi_count_left_palms')
                  span.highlight
                  span.bar(style='')
                .divTableCell(style='width:30%;')
                  input#inputPalmsRight.form-control(type='text', name='nevi_count_right_palms')
                  span.highlight
                  span.bar(style='')
              .divTableRow
                .divTableCell(style='width:40%;') Soles
                .divTableCell(style='width:30%;')
                  input#inputSolesLeft.form-control(type='text', name='nevi_count_left_soles')
                  span.highlight
                  span.bar(style='')
                .divTableCell(style='width:30%;')
                  input#inputSolesRight.form-control(type='text', name='nevi_count_right_soles')
                  span.highlight
                  span.bar(style='')

          div.alphaformfooter
          div.formfooter
          input.scroll-button-bottom(type='button')
          input.previous.action-button(type='button', name='previous', value='Previous')
          input.next.action-button(type='button', name='next', value='Next')


        fieldset
          div.scrollingdiv
            h2.fs-title CLINICAL EXAMINATION
            h3.fs-subtitle We will never sell it
            
            input(type='text', name='lname', placeholder='Last Name')
            input(type='text', name='phone', placeholder='Phone')
            textarea(name='address', placeholder='Address')

          div.alphaformfooter
          div.formfooter
          input.scroll-button-bottom(type='button')
          input.previous.action-button(type='button', name='previous', value='Previous')
          input.submit.action-button(type='submit', name='submit', value='Submit')
