extends layout

block content
  div.progressline
    // progressbar
    ul#progressbar
        li.active DEMOGRAPHIC
        li PHENOTYPE
        li ULTRAVIOLET EXPOSURE
        li LIFESTYLE HABITS
        li CLINICAL EXAMINATION
        li MEDICAL HISTORY
        li FAMILY HISTORY
        li MELANOMA CHARACTERISTICS
  div.form
    // multistep form
    form#msform(action="/stepform" method="POST" autocomplete="off")
    
        fieldset
          div.scrollingdiv(id='scrollerdiv')
            h2.fs-title GENERAL
            h3.fs-subtitle Completed by phisician

            fieldset
              label(for='1237444630') Subject
              .form-group
                select#1237444630.form-control(name='subject')
                  option(value='No Choosed', selected='') Select Subject ...
                  option(value='Case') Case
                  option(value='Control') Control

            fieldset#fieldsetCodeNumber
              label(for='593911901') Database Code Number
              .divTable
                .divTableBody
                  .divTableRow
                    .divTableCell(style='border: 0px solid white !important;')
                      .form-group
                        select#DatabaseCodeCountry.form-control(name='code_country')
                          option(value='No Choosed' selected='') Select Country ...
                          option(value='01') Greece
                          option(value='02') Italy
                          option(value='03') Spain
                    .divTableCell(style='border: 0px solid white !important;')
                      .form-group.hidden-control
                        select#DatabaseCodeCenter.form-control(name='code_center')
                          // <option value="No Choosed" selected>Select Center ...</option>
                    .divTableCell(style='border: 0px solid white !important;')
                      .form-group
                        select#DatabaseCodeType.form-control(name='code_type')
                          option(value='No Choosed' selected='') Select case type ...
                          option(value='M') Melanoma Case
                          option(value='C') Control subject
                  .divTableRow
                    .divTableCell(style='border: 0px solid white !important;')
                      .form-group
                        input#codeNumber(type='text' readonly='' value='' name='code_number')

            fieldset#fieldsetAdmin
              label(for='1763927487') Date of questionnaire administration and phenotyping
              .form-group.md-form
                input#1763927487.datepicker.form-control(type='text' placeholder='Select date' required='' name='survey_date')
                
            fieldset#fieldsetPhenotyping
              label(for='9069469') Dates of updated questionnaire and/or phenotyping
              .form-group
                input#1969236884_date.datepicker.form-control(type='text' placeholder='Select date' required='' name='last_update')

            fieldset#fieldsetTypeOfMelanoma
              label(for='type_of_melanoma') Type of melanoma
              .form-group
                select#Melanoma.form-control(name='melanoma_type')
                  option(value='No Choosed', selected='') Select Type ...
                  option(value='Sporadic') Sporadic
                  option(value='Familial') Familial
                  option(value="Don't know") Don't know
                  option(value='Other') Other (complex family history), specify:
              input#Other_Melanoma.hidden-control.inputMelanoma(type='text' name="other_melanoma_type")


          input.start(type='button', name='next', value='CONFIRM')

        fieldset
          div.scrollingdiv(id='scrollerdiv')
            h2.fs-title GENERAL
            h3.fs-subtitle Completed by phisician

            legend(for='1237444630') Click start button to start questionnaire
            
          input.start(type='button', name='next', value='START')

        fieldset
          div.scrollingdiv(id='scrollerdiv')
            h2.fs-title DEMOGRAPHIC
            h3.fs-subtitle Completed by case/control

            fieldset#fieldsetGender
              label(for='1350866299') Sex
              .form-group
                select#1350866299.form-control(name='gender' required='required' data-rule-required='true' data-msg-required='Please select your gender')
                  option(value='No Choosed', selected='') Select Gender...
                  option(value='Female') Female
                  option(value='Male') Male
                span.error1(style='display: none;')
                  i.error-log.fa.fa-exclamation-triangle
                  
            fieldset#fieldsetDateOfBirth
              label(for='80728029') Date and place of birth
              .form-group
                input#2126036184_date.form-control.datepicker(type='text' name="birthdate"  required='required' data-rule-required='true' data-msg-required='Please include your birthday')
                span.error1(style='display: none;')
                    i.error-log.fa.fa-exclamation-triangle
                
            fieldset#fieldsetWeightHeight
              label(for='248537302') Weight(Kg)
              .form-group
                input#weight_input.form-control(type='number' name='weight' required='required' data-rule-required='true' data-msg-required='Please include your weight')
                span.error1(style='display: none;')
                    i.error-log.fa.fa-exclamation-triangle
              label(for='248537302') Height(Cm)
              .form-group
                input#height_input.form-control(type='number' name='height' required='required' data-rule-required='true' data-msg-required='Please include your height')
                span.error1(style='display: none;')
                    i.error-log.fa.fa-exclamation-triangle
                
            fieldset#fieldsetEthnicity
              label(for='1761024152') Ethnicity
              .form-group
                select#ethnicity_input.form-control(name='ethnicity' required='required' data-rule-required='true' data-msg-required='Please include your ethnicity')
                  option(value='No Choosed', selected='') Select Ethnicity ...
                  option(value='White/Europe') White/Europe
                  option(value='White/NorthAfrica') White/NorthAfrica
                  option(value='White/MiddleEast') White/MiddleEast
                  option(value='White/Jewish') White/Jewish
                  option(value='Black or African American') Black or African American
                  option(value='Asian') Asian
                  option(value='Hispanic or Latino (i.e. from South or Central America)')
                    | Hispanic or Latino (i.e.
                    | from
                    | South or Central America)
                  option(value='Other') Other (Specify)
              span.error1(style='display: none;')
                i.error-log.fa.fa-exclamation-triangle
              input#OtherEthnicity.hidden-control.inputEthnicity(type='text' name="other_ethnicity")
              
            fieldset#fieldResidency
              label
                | Residency
              #myForm
                .form-group
                  input#residency.form-control(type='text' data-geocomplete='street address' name='residency' required='required' data-rule-required='true' data-msg-required='Please include your residency')
                  span.error1(style='display: none;')
                      i.error-log.fa.fa-exclamation-triangle
                .residency_date_class
              #myMap
              #myJsonTab
              .table
              
            fieldset#fieldsetEducation
              label(for='261025725') Education
              .form-group
                select#education_input.form-control(name='education' required='required' data-rule-required='true' data-msg-required='Please include your education')
                  option(value='No Choosed', selected='') Select Range...
                  option(value='Up to junior high school (up to 14-16 yrs)')
                    | Up to junior high school (up to 14-16
                    | yrs)
                  option(value='High school (up to 18-19 yrs)') High school (up to 18-19 yrs)
                  option(value='University') University
                span.error1(style='display: none;')
                  i.error-log.fa.fa-exclamation-triangle
                  
            fieldset#fieldsetOccupational
              label(for='2111843347') Current occupational status
              .form-group
                select#current_occupational_status.form-control(name='occupational_status' required='required' data-rule-required='true' data-msg-required='Please include your status')
                  option(value='No Choosed', selected='') Select Status...
                  option(value='Employed') Employed
                  option(value='Working at home') Working at home
                  option(value='Unemployed') Unemployed
                  option(value='Student') Student
                  option(value='Retired') Retired

            fieldset#fieldHistory
              label(for='History', style='font-size: 12px;')
                | History of occupation(optional History of occupation
                | (starting from most recent and
                | going backwards in time record duration from YYYY to YYYY)
              .form-group
                select#History.form-control(name='entry.History')
              .form-group.dynamic_ddl
              .form-group.div_date
              #json-table-wrapper-history.table

          div.alphaformfooter
          div.formfooter
          input.scroll-button-bottom(type='button')
          input#firstnext.next.action-button(type='button', name='next', value='Next')


        fieldset
          div.scrollingdiv
            h2.fs-title PHENOTYPE
            h3.fs-subtitle Completed by case/control

            fieldset#fieldsetSkinResponse
              label(for='1548717344')
                | Which of the following sentences does better describe your skin response to sun
                | exposure at noon for 30 minutes in the first days of the summer without sunscreen/clothing protection?
              .form-group
                select#skin-response.form-control(name='skin_response' required='required' data-rule-required='true' data-msg-required='Required field')
                  option(value='NoChoosed') Select Skin Response ...
                  option(value='Not burn') Not burn
                  option(value='Burns lightly') Burns lightly
                  option(value='Burns moderately') Burns moderately
                  option(value='Burns severely') Burns severely
                  
            fieldset#fieldSkin_tan
              label(for='')
                | 2. Does your skin tan after a prolonged and repeated sun exposure (e.g. after
                | several
                | days as at the end of the summer) without protecting it with sunscreen or clothing?
              .form-group
                .divTable.divImgTable
                  .divTableBody
                    .divTableRow
                      .divTableCell
                        span No Tan
                      .divTableCell
                        span Tan Lightly
                      .divTableCell
                        span Tan Moderately
                      .divTableCell
                        span Tan Deeply
                    .divTableRow
                      .divTableCell
                        input#No_Tan(type='radio', name='skin_tan', value='NoTan')
                      .divTableCell
                        input#Tan_Light(type='radio', name='skin_tan', value='TansLightly')
                      .divTableCell
                        input#Tan_Moderate(type='radio', name='skin_tan', value='TansModerately')
                      .divTableCell
                        input#Tan_Deep(type='radio', name='skin_tan', value='TansDeeply')
                    .divTableRow
                      .divTableCell
                        img(src='img/Skin-Tan/No_Tan_1.png', width='100', height='100')
                      .divTableCell
                        img(src='img/Skin-Tan/Light_Tan_1.png', width='100', height='100')
                      .divTableCell
                        img(src='img/Skin-Tan/Moderate_Tan_1.png', width='100', height='100')
                      .divTableCell
                        img(src='img/Skin-Tan/Deep_Tan_1.png', width='100', height='100')
                
            fieldset#fieldsetEye
              label(for='') Eye Color
              .form-group
                .divTable.divImgTable
                  .divTableBody
                    .divTableRow
                      .divTableCell
                        span Light (green,blue,gray)
                      .divTableCell
                        span Medium (light brown, hazel)
                      .divTableCell
                        span Dark (dark brown, black)
                    .divTableRow
                      .divTableCell
                        input#Light_Eyes(type='radio', name='eye_color', value='light')
                      .divTableCell
                        input#Medium_Eyes(type='radio', name='eye_color', value='medium')
                      .divTableCell
                        input#Dark_Eyes(type='radio', name='eye_color', value='dark')
                    .divTableRow
                      .divTableCell
                        img(src='img/Color-Eye/Light_eyes-removebg.png', width='150', height='50')
                      .divTableCell
                        img(src='img/Color-Eye/Medium_eyes-removebg.png', width='100', height='50')
                      .divTableCell
                        img(src='img/Color-Eye/Dark_eyes-removebg.png', width='100', height='50')

            fieldset#fieldsetHair
              label(for='1275694163') Hair color (at age of 18 yrs)
              .form-group
                .divTable.divImgTable
                  .divTableBody
                    .divTableRow
                      .divTableCell
                        span Red Hair Color
                      .divTableCell
                        span Blonde Hair Color
                      .divTableCell
                        span Light Brown Color
                      .divTableCell
                        span Dark Brown Color
                      .divTableCell
                        span Dark Color
                    .divTableRow
                      .divTableCell
                        input#Red_Hair(type='radio', name='hair_color', value='red')
                      .divTableCell
                        input#Blonde_Hair(type='radio', name='hair_color', value='blonde')
                      .divTableCell
                        input#Light_brown_Hair(type='radio', name='hair_color', value='Light brown')
                      .divTableCell
                        input#Dark_brown_Hair(type='radio', name='hair_color', value='Dark brown')
                      .divTableCell
                        input#Dark_Hair(type='radio', name='hair_color', value='red')
                    .divTableRow
                      .divTableCell
                        img(src='img/Color-hair/Red_hair-removebg.png', width='150', height='50')
                      .divTableCell
                        img(src='img/Color-hair/Blonde_hair-removebg.png', width='150', height='50')
                      .divTableCell
                        img(src='img/Color-hair/Light_brown_hair-removebg.png', width='100', height='50')
                      .divTableCell
                        img(src='img/Color-hair/Dark_brown_hair-removebg.png', width='150', height='50')
                      .divTableCell
                        img(src='img/Color-hair/Dark_hair-removebg.png', width='50', height='50')
              .form-group.hidden-control

            fieldset#fieldsetFreckles
              label(for='id_freckles')
                | FrecklesDefinition: Light brown small macules since childhood, on the face, during
                | summer time (disappear in winter)
              .form-group
                .divTable.divImgTable
                  .divTableBody
                    .divTableRow
                      .divTableCell
                        span No Freckles
                      .divTableCell
                        span Few Freckles
                      .divTableCell
                        span Some Freckles
                      .divTableCell
                        span Many Freckles
                    .divTableRow
                      .divTableCell
                        input#No_Freckles(type='radio', name='freckles', value='NoFreckles')
                      .divTableCell
                        input#Few_Freckles(type='radio', name='freckles', value='FewFreckles')
                      .divTableCell
                        input#Some_Freckles(type='radio', name='freckles', value='SomeFreckles')
                      .divTableCell
                        input#Many_Freckles(type='radio', name='freckles', value='ManyFreckles')
                    .divTableRow
                      .divTableCell
                        img(src='img/Freckles/No_freckles.png', width='100', height='100')
                      .divTableCell
                        img(src='img/Freckles/Few_freckles.png', width='100', height='100')
                      .divTableCell
                        img(src='img/Freckles/Some_freckles.png', width='100', height='100')
                      .divTableCell
                        img(src='img/Freckles/Many_freckles.png', width='100', height='100')
                
            fieldset#fieldsetNevi
              label(for='id_Nevi') Nevi frequency
              .form-group
                .divTable.divImgTable
                  .divTableBody
                    .divTableRow
                      .divTableCell
                        span None Nevi
                      .divTableCell
                        span Few Nevi
                      .divTableCell
                        span Some Nevi
                      .divTableCell
                        span Many Nevi
                    .divTableRow
                      .divTableCell
                        input#No_Nevi(type='radio', name='nevi', value='NoNevi')
                      .divTableCell
                        input#Few_Nevi(type='radio', name='nevi', value='FewNevi')
                      .divTableCell
                        input#Some_Nevi(type='radio', name='nevi', value='SomeNevi')
                      .divTableCell
                        input#Many_Nevi(type='radio', name='nevi', value='ManyNevi')
                    .divTableRow
                      .divTableCell
                        img(src='img/Nevi/None_Nevi.png', width='100', height='100')
                      .divTableCell
                        img(src='img/Nevi/Few_Nevi.png', width='100', height='100')
                      .divTableCell
                        img(src='img/Nevi/Some_Nevi.png', width='100', height='100')
                      .divTableCell
                        img(src='img/Nevi/Many_Nevi.png', width='100', height='100')

          div.alphaformfooter
          div.formfooter
          input.scroll-button-bottom(type='button')
          input#firstprevious.previous.action-button(type='button', name='previous', value='Previous')
          input#secondnext.next.action-button(type='button', name='next', value='Next')

        fieldset
          div.scrollingdiv
            h2.fs-title HISTORY OF ULTRAVIOLET EXPOSURE
            h3.fs-subtitle Completed by case/control

            fieldset#fieldsetUltravioletExposure
              label(for='771490717')
                | Occupational sun exposure(i.e. outdoor occupation with at least 4 hours/day spent
                | outdoor in the sun)
              .form-group
                select#id_UltravioletExposure.form-control(name='ultraviolet[occupational_sun_exposure][presence]' required='required' data-rule-required='true' data-msg-required='Required field')
                  option(value='No') No
                  option(value='Yes') Yes
              .form-group.hidden-control(style='margin-top:20px;')
                .group
                  label Specify the occupation:
                  input#UltravioletExposure_Yes.form-control(type='text' name='ultraviolet[occupational_sun_exposure][occupation_name]')             
                .group
                  label How many hours/day?:
                  input#UltravioletExposure_hours_for_day.form-control(type='text' name='ultraviolet[occupational_sun_exposure][hours_day]')
                .group
                  label How many hours/month?:
                  input#UltravioletExposure_hours_for_month.form-control(type='text' name='ultraviolet[occupational_sun_exposure][hours_month]')
                span.error1(style='display: none;')
                  i.error-log.fa.fa-exclamation-triangle
                .group
                  label How many hours/year?:
                  input#UltravioletExposure_hours_for_year.form-control(type='text' name='ultraviolet[occupational_sun_exposure][hours_year]')
                span.error1(style='display: none;')
                  i.error-log.fa.fa-exclamation-triangle
                .group
                  label How many years ?:
                  input#UltravioletExposure_many_years.form-control(type='text' name='ultraviolet[occupational_sun_exposure][number_of_years]')
                span.error1(style='display: none;')
                  i.error-log.fa.fa-exclamation-triangle
                  
            fieldset#fieldsetRecreationalExposure
              label(for='488897')
                | Recreational sun exposure (i.e. outdoor hobbies or physical activities–other than
                | sunbathing–with at least 4 hours/day spent outdoor in the sun)
              .form-group
                select#id_RecreationalExposure.form-control(name='ultraviolet[recreational_sun_exposure][presence]' required='required' data-rule-required='true' data-msg-required='Required field')
                  option(value='No') No
                  option(value='Yes') Yes
              .form-group.hidden-control(style='margin-top:20px;')
                .group
                  label Specify the occupation:
                  input#RecreationalExposure_Yes(type='text', name='ultraviolet[recreational_sun_exposure][occupation_name]')
                .group
                  label How many hours/day?:
                  input#Recreational_hours_for_day(type='text', name='ultraviolet[recreational_sun_exposure][hours_day]')
                .group
                  label How many hours/month?:
                  input#Recreational_hours_for_month(type='text', name='ultraviolet[recreational_sun_exposure][hours_month]')
                .group
                  label How many hours/year?:
                  input#Recreational_hours_for_year(type='text', name='ultraviolet[recreational_sun_exposure][hours_year]')
                .group
                  label How many years ?:
                  input#Recreational_many_years(type='text', name='ultraviolet[recreational_sun_exposure][number_of_years]')
                  
            fieldset#fieldsetIntermittent
              label
                | Intermittent sun exposure (i.e. sun exposure in spring and summer time, including
                | vacation, during peak hours–11AM-4PM)
              .form-group
                .divTable
                  .divTableBody
                    .divTableRow
                      .divTableCell Age Period
                      .divTableCell Exposure Period
                      .divTableCell Exposure Time
                    .divTableRow
                      .divTableCell
                      .divTableCell Weeks of vacation
                      .divTableCell Hours spent between 11AM and 4PM
                    .divTableRow
                      .divTableCell Childhood (up to age 10 yrs)
                      .divTableCell
                        input#Childhood_Period(type='text', name='ultraviolet[exposure_childhood][period]')
                        span.highlight
                        span.bar(style='')
                      .divTableCell
                        input#Childhood_Time(type='text', name='ultraviolet[exposure_childhood][time]')
                        span.highlight
                        span.bar(style='')
                    .divTableRow
                      .divTableCell Adolescence (11-18 yrs)
                      .divTableCell
                        input#Adolescence_Weeks(type='text', name='ultraviolet[exposure_adolescence][period]')
                        span.highlight
                        span.bar(style='')
                      .divTableCell
                        input#Adolescence_Time(type='text', name='ultraviolet[exposure_adolescence][time]')
                        span.highlight
                        span.bar(style='')
                    .divTableRow
                      .divTableCell Adulthood (≥18 yrs)
                      .divTableCell
                        input#Adulthood_Weeks(type='text', name='ultraviolet[exposure_adulthood][period]')
                        span.highlight
                        span.bar(style='')
                      .divTableCell
                        input#Adulthood_Time(type='text', name='ultraviolet[exposure_adulthood][time]')
                        span.highlight
                        span.bar(style='')
                    .divTableRow
                      .divTableCell(style='font-size:10px;')
                        | 10 years before melanoma diagnosis (for
                        | cases) or last 10 years
                        | (for controls)
                      .divTableCell
                        input#10_years_before_period(type='text', name='ultraviolet[exposure_previous_10_years][period]')
                        span.highlight
                        span.bar(style='')
                      .divTableCell
                        input#10_years_before_time(type='text', name='ultraviolet[exposure_previous_10_years][time]')
                        span.highlight
                        span.bar(style='')
                        
            fieldset#fieldsetMostRecent
              label(for='') Most recent intense intermittent sun exposure
              p(style='font-size:10px;')
                | Provide date or month of last time of intense intermittent sun exposure before
                | the diagnosis of melanoma (for cases) or before this interview (for controls)
              .form-group
                input#most_recent_date.datepicker.form-control(type='text' placeholder='Select date' required='' name='ultraviolet[most_recent_sunburn]')
                
            fieldset#fieldsetSevereSunburns(style='margin-top: 20px;')
              label(for='42940743')
                | Severe sunburns (Grade 2), lifetime before diagnosis.
              p(style='font-size:10px')
                | Definition: suburns with erythema and pain for more than 2 days or with blisters
                | (no matter for how long)
              .form-group
                .divTable(style='width: 100%;')
                  .divTableBody
                    .divTableRow
                      .divTableCell.NoDivTableBorder(style='width:34%;')
                        span At age < 18 yrs ?
                      .divTableCell.NoDivTableBorder(style='width:32%;')
                        select#id_Sunburns_less18.form-control(name='ultraviolet[sunburn_before_18][presence]')
                          option(value='No') No
                          option(value='Yes') Yes
                          option(value='NotKnow') Not know
                      .divTableCell.NoDivTableBorder(style='width:32%;')
                        .hidden-control
                          .group(style='margin-bottom:-4%;')
                            input#Sunburns_Yes_less18.special_on_div_table(type='number', name='ultraviolet[sunburn_before_18][number]')
                            span.highlight.special_on_div_table
                            span.bar.special_on_div_table
                            label Number:
              .form-group
                .divTable(style='width: 100%;')
                  .divTableBody
                    .divTableRow
                      .divTableCell.NoDivTableBorder(style='width:34%;')
                        span At age >= 18 yrs ?
                      .divTableCell.NoDivTableBorder(style='width:32%;')
                        select#id_Sunburns_Yes_greater18.form-control(name='ultraviolet[sunburn_after_18][presence]')
                          option(value='No') No
                          option(value='Yes') Yes
                          option(value='NotKnow') Not know
                      .divTableCell.NoDivTableBorder(style='width:32%;')
                        .hidden-control
                          .group(style='margin-bottom:-4%;')
                            input#Sunburns_Yes_greater18.special_on_div_table(type='number', name='ultraviolet[sunburn_after_18][number]')
                            span.highlight.special_on_div_table
                            span.bar.special_on_div_table
                            label Number:
              .form-group
                .divTable(style='width: 100%;')
                  .divTableBody
                    .divTableRow
                      .divTableCell.NoDivTableBorder(style='width:34%;')
                        span At site of melanoma ?
                      .divTableCell.NoDivTableBorder(style='width:32%;')
                        select#id_Site_melanoma.form-control(name='ultraviolet[sunburn_at_melanoma_site]')
                          option(value='No') No
                          option(value='Yes') Yes
                          option(value='NotKnow') Not know
                      .divTableCell.NoDivTableBorder(style='width:32%;')
              .form-group
                .divTable(style='width: 100%;')
                  .divTableBody
                    .divTableRow
                      .divTableCell.NoDivTableBorder(style='width:34%;')
                        span In the last 5 years ?
                      .divTableCell.NoDivTableBorder(style='width:32%;')
                        select#id_Sunburns_last5.form-control(name='ultraviolet[sunburn_last_5_years][presence]')
                          option(value='No') No
                          option(value='Yes') Yes
                          option(value='NotKnow') Not know
                      .divTableCell.NoDivTableBorder(style='width:32%;')
                        .group.hidden-control(style='margin-bottom:-4%;')
                          input#Sunburns_last5.special_on_div_table(type='number', name='ultraviolet[sunburn_last_5_years][number]')
                          span.highlight
                          span.bar
                          label Number:
                          
            fieldset
              label(for='162128682') Sunscreen use (summer time)
              .form-group
                .divTable
                  .divTableBody
                    .divTableRow
                      .divTableCell Age Period
                      .divTableCell Summer Sunscreen
                      .divTableCell Summer Sunscreen
                    .divTableRow
                      .divTableCell
                      .divTableCell Did you use sunscreen during summertime?
                      .divTableCell Type of sunscreen used
                    .divTableRow
                      .divTableCell Childhood (up to age 10 yrs)
                      .divTableCell
                        select#id_SunExposure_childhood.form-control(name='ultraviolet[childhood_sunscreen][frequency]')
                          option(value='NoChoosed') Select sun exposure...
                          option(value='Never') Never
                          option(value='less50') time exposure < 50%
                          option(value='greater50') time exposure > 50%
                          option(value='always') always
                          option(value='notKnown') not known
                      .divTableCell
                        select#id_Sunscreen_childhood.form-control(name='ultraviolet[childhood_sunscreen][type]')
                          option(value='NoChoosed') Select sunscreen protection...
                          option(value='less20') SPF < or = 20
                          option(value='greater20') SPF > 20
                          option(value='notKnown') not known
                    .divTableRow
                      .divTableCell Adolescence (11-18 yrs)
                      .divTableCell
                        select#id_SunExposure_adolescence.form-control(name='ultraviolet[adolescence_sunscreen][frequency]')
                          option(value='NoChoosed') Select sun exposure...
                          option(value='Never') Never
                          option(value='less50') time exposure < 50%
                          option(value='greater50') time exposure > 50%
                          option(value='always') always
                          option(value='notKnown') not known
                      .divTableCell
                        select#id_Sunscreen_adolescence.form-control(name='ultraviolet[adolescence_sunscreen][type]')
                          option(value='NoChoosed') Select sunscreen protection...
                          option(value='less20') SPF < or = 20
                          option(value='greater20') SPF > 20
                          option(value='notKnown') not known
                    .divTableRow
                      .divTableCell Adulthood (≥18 yrs)
                      .divTableCell
                        select#id_SunExposure_adulthood.form-control(name='ultraviolet[adulthood_sunscreen][frequency]')
                          option(value='NoChoosed') Select sun exposure...
                          option(value='Never') Never
                          option(value='less50') time exposure < 50%
                          option(value='greater50') time exposure > 50%
                          option(value='always') always
                          option(value='notKnown') not known
                      .divTableCell
                        select#id_Sunscreen_adulthood.form-control(name='ultraviolet[adulthood_sunscreen][type]')
                          option(value='NoChoosed') Select sunscreen protection...
                          option(value='less20') SPF < or = 20
                          option(value='greater20') SPF > 20
                          option(value='notKnown') not known
                    .divTableRow
                      .divTableCell(style='font-size:10px;')
                        | 10 years before melanoma diagnosis (for
                        | cases) or last 10 years
                        | (for controls)
                      .divTableCell
                        select#id_SunExposure_10years_before.form-control(name='ultraviolet[last_10_years_sunscreen][frequency]')
                          option(value='NoChoosed') Select sun exposure...
                          option(value='Never') Never
                          option(value='less50') time exposure < 50%
                          option(value='greater50') time exposure > 50%
                          option(value='always') always
                          option(value='notKnown') not known
                      .divTableCell
                        select#id_Sunscreen_10years_before.form-control(name='ultraviolet[last_10_years_sunscreen][type]')
                          option(value='NoChoosed') Select sunscreen protection...
                          option(value='less20') SPF < or = 20
                          option(value='greater20') SPF > 20
                          option(value='notKnown') not known

            fieldset#fieldsetHat
              label(for='id_Hat')
                | Sun protection other than sunscreen use (summertime over the last 10 yrs)
                | (Optional)
              .form-group
                span Did you use a hat ?
                select#id_Hat.form-control(name='ultraviolet[hat_frequency]')
                  option(value='NoChoosed') Select sun time exposure ...
                  option(value='Never') Never
                  option(value='less50') time exposure < 50%
                  option(value='greater50') time exposure > 50%
                  option(value='Always') Always
                  option(value='Notknown') Not known
              .form-group
                span Did you use protective clothing ?
                select#id_Clothing.form-control(name='ultraviolet[clothing]')
                  option(value='NoChoosed') Select sun time exposure ...
                  option(value='Never') Never
                  option(value='less50') time exposure < 50%
                  option(value='greater50') time exposure > 50%
                  option(value='Always') Always
                  option(value='Notknown') Not known
              .form-group
                span Did you seek the shade or stay indoors during peak UVR hours?
                select#id_UVR.form-control(name='ultraviolet[peak_UVR_hours]')
                  option(value='NoChoosed') Select sun time exposure ...
                  option(value='Rarely') Rarely
                  option(value='Sometimes') Sometimes
                  option(value='Always') Always
                  option(value='Notknown') Not known

            fieldset#fieldsetSunlamps(style='margin-top: 20px;')
              label(for='42940743') Sunlamps/sunbeds
              .form-group
                .divTable
                  .divTableRow
                    .divTableCell.NoDivTableBorder(style='width:34%;')
                      span Did you use sunlamps or sunbeads?
                    .divTableCell.NoDivTableBorder(style='width:32%;')
                      select#id_Sunlamp.form-control(name='ultraviolet[sunlamp][presence]')
                        option(value='NoChoosed') Select ...
                        option(value='No') No
                        option(value='Yes') Yes
                .group.hidden-control(style='margin-top:20px;')
                  label Lifetime number of sessions:
                  input#Sunlamp_sessions.special_on_div_table(type='number', name='ultraviolet[sunlamp][number_of_sessions]')
                .group.hidden-control
                  label Age at first exposure:
                  input#Sunlamp_first_age.special_on_div_table(type='number', name='ultraviolet[sunlamp][age__of_first_sunlamp]')
                .group.hidden-control
                  label Age at last exposure:
                  input#Sunlamp_last_age.special_on_div_table(type='number', name='ultraviolet[sunlamp][age_of_last_sunlamp]')

            fieldset#fieldsetPhototherapy(style='margin-top: 20px;')
              label(for='42940743')
                | Phototherapy(UVB-PUVA) (Optional)
              .form-group
                .divTable
                  .divTableRow
                    .divTableCell.NoDivTableBorder(style='width:34%;')
                      span Did you have phototherapy?
                    .divTableCell.NoDivTableBorder(style='width:32%;')
                      select#id_Phototherapy.form-control(name='ultraviolet[phototherapy]')
                        option(value='NoChoosed') Select ...
                        option(value='Ever') Ever
                        option(value='Never') Never


          div.alphaformfooter
          div.formfooter
          input.scroll-button-bottom(type='button')
          input#secondprevious.previous.action-button(type='button', name='previous', value='Previous')
          input#thirdnext.next.action-button(type='button', name='next', value='Next')

        fieldset
          div.scrollingdiv
            h2.fs-title LIFESTYLE HABITS
            h3.fs-subtitle Completed by case/control

            fieldset#fieldsetSmoking(style='margin-top: 20px;')
              label(for='42940743') Smoking
              .form-group
                .divTable
                  .divTableRow
                    .divTableCell.NoDivTableBorder(style='width:34%;')
                      span Did you smoke?
                    .divTableCell.NoDivTableBorder(style='width:32%;')
                      select#id_Smoking.form-control(name='lifestyle[smoking]')
                        option(value='NoChoosed') Select ...
                        option(value='Never') Never
                        option(value='Former')
                          | Former smoker (quit one year before diagnosis or earlier)
                        option(value='Current') Current smoker
                .group.hidden-control(style='margin-top:20px;')
                  input#Smoking_age.special_on_div_table(type='number', name="lifestyle[smoking][age_of_first_smoking]")
                  span.highlight
                  span.bar
                  label Age when you started:
                .group.hidden-control
                  input#Smoking_years.special_on_div_table(type='number', name="lifestyle[smoking][smoking_period]")
                  span.highlight
                  span.bar
                  label How long have you been smoking ?(years):
                .group.hidden-control
                  .divTable
                    .divTableRow
                      .divTableCell.NoDivTableBorder(style='width: 50%;')
                        span How much did/do you typically smoke:
                      .divTableCell.NoDivTableBorder(style='width: 50%;')
                        select#id_Smoke_quantity.form-control(name='lifestyle[smoking][smoke_quantity]')
                          option(value='NoChoosed') Select quantity...
                          option(value='One_or_more') One pack day or more
                          option(value='Half') Up to half pack a day
                          option(value='Occasionally') Occasionally

            fieldset#fieldsetVitamin(style='margin-top: 20px;')
              label(for='42940743')
                | Have you received vitamin pills during the last year?
              p(style='color:red;') (Optional)
              .form-group
                select#id_Vitamin.form-control(name='lifestyle[vitamins_last_year][presence]')
                  option(value='NoChoosed') Select ...
                  option(value='No') No
                  option(value='Yes')
                    | Yes
              .group.hidden-control
                .divTable
                  .divTableRow
                    .divTableCell.NoDivTableBorder(style='width: 50%;')
                      span How much:
                    .divTableCell.NoDivTableBorder(style='width: 50%;')
                      select#id_Vitamin_quantity.form-control(name='lifestyle[vitamins_last_year][quantity')
                        option(value='NoChoosed') Select quantity...
                        option(value='Never') Never
                        option(value='1/3_days_at_month') 1-3 days/month
                        option(value='1/3_days_at_week') 1-3 days/week
                        option(value='4/6_days_at_week') 4-6 days/week
                        option(value='Everyday') Everyday

            fieldset#fieldsetVitaminType(style='margin-top: 20px;')
              label(for='42940743')
                | What type of vitamins did you receive and how often?
              p(style='color:red;') (Optional)
              .group
                .divTable
                  .divTableRow
                    .divTableCell.NoDivTableBorder(style='width:16%;') β-carotene
                    .divTableCell.NoDivTableBorder(style='width:16%;') Vitamin A
                    .divTableCell.NoDivTableBorder(style='width:16%;') Vitamin C
                    .divTableCell.NoDivTableBorder(style='width:16%;') Vitamin D
                    .divTableCell.NoDivTableBorder(style='width:16%;') Vitamin E
                    .divTableCell.NoDivTableBorder(style='width:16%;') Multivitamins
                  .divTableRow
                    .divTableCell(style='width:16%;')
                      select#id_BetaCarotene_quantity.form-control(name='lifestyle[betacarotene_frequency]')
                        option(value='NoChoosed') Select quantity...
                        option(value='Never') Never
                        option(value='1/3_days_at_month') 1-3 days/month
                        option(value='1/3_days_at_week') 1-3 days/week
                        option(value='4/6_days_at_week') 4-6 days/week
                        option(value='Everyday') Everyday
                    .divTableCell(style='width:16%;')
                      select#id_VitaminB_quantity.form-control(name='lifestyle[vitamin_A_frequency]')
                        option(value='NoChoosed') Select quantity...
                        option(value='Never') Never
                        option(value='1/3_days_at_month') 1-3 days/month
                        option(value='1/3_days_at_week') 1-3 days/week
                        option(value='4/6_days_at_week') 4-6 days/week
                        option(value='Everyday') Everyday
                    .divTableCell(style='width:16%;')
                      select#id_VitaminC_quantity.form-control(name='lifestyle[vitamin_C_frequency]')
                        option(value='NoChoosed') Select quantity...
                        option(value='Never') Never
                        option(value='1/3_days_at_month') 1-3 days/month
                        option(value='1/3_days_at_week') 1-3 days/week
                        option(value='4/6_days_at_week') 4-6 days/week
                        option(value='Everyday') Everyday
                    .divTableCell(style='width:16%;')
                      select#id_VitaminD_quantity.form-control(name='lifestyle[vitamin_D_frequency]')
                        option(value='NoChoosed') Select quantity...
                        option(value='Never') Never
                        option(value='1/3_days_at_month') 1-3 days/month
                        option(value='1/3_days_at_week') 1-3 days/week
                        option(value='4/6_days_at_week') 4-6 days/week
                        option(value='Everyday') Everyday
                    .divTableCell(style='width:16%;')
                      select#id_VitaminE_quantity.form-control(name='lifestyle[vitamin_E_frequency]')
                        option(value='NoChoosed') Select quantity...
                        option(value='Never') Never
                        option(value='1/3_days_at_month') 1-3 days/month
                        option(value='1/3_days_at_week') 1-3 days/week
                        option(value='4/6_days_at_week') 4-6 days/week
                        option(value='Everyday') Everyday
                    .divTableCell(style='width:16%;')
                      select#id_MultiVitamin_quantity.form-control(name='lifestyle[multivitamins_frequency]')
                        option(value='NoChoosed') Select quantity...
                        option(value='Never') Never
                        option(value='1/3_days_at_month') 1-3 days/month
                        option(value='1/3_days_at_week') 1-3 days/week
                        option(value='4/6_days_at_week') 4-6 days/week
                        option(value='Everyday') Everyday

            fieldset#fieldsetVitaminTime(style='margin-top: 20px;')
              label(for='42940743')
                | For how long did you receive vitamins?
              p(style='color:red;') (Optional)
              .group
                .divTable
                  .divTableRow
                    .divTableCell.NoDivTableBorder(style='width:16%;') β-carotene
                    .divTableCell.NoDivTableBorder(style='width:16%;') Vitamin A
                    .divTableCell.NoDivTableBorder(style='width:16%;') Vitamin C
                    .divTableCell.NoDivTableBorder(style='width:16%;') Vitamin D
                    .divTableCell.NoDivTableBorder(style='width:16%;') Vitamin E
                    .divTableCell.NoDivTableBorder(style='width:16%;') Multivitamins
                  .divTableRow
                    .divTableCell(style='width:16%;')
                      select#id_BetaCarotene_Time.form-control(name='lifestyle[betacarotene_period]')
                        option(value='NoChoosed') Select quantity...
                        option(value='Never') < year
                        option(value='13Month') 1-4 years
                        option(value='13Week') 5-9 years
                        option(value='46Week') > 10 years
                    .divTableCell(style='width:16%;')
                      select#id_VitaminB_Time.form-control(name='lifestyle[vitamin_A_period]')
                        option(value='NoChoosed') Select Time...
                        option(value='Never') < year
                        option(value='13Month') 1-4 years
                        option(value='13Week') 5-9 years
                        option(value='46Week') > 10 years
                    .divTableCell(style='width:16%;')
                      select#id_VitaminC_Time.form-control(name='lifestyle[vitamin_C_period]')
                        option(value='NoChoosed') Select Time...
                        option(value='Never') < year
                        option(value='13Month') 1-4 years
                        option(value='13Week') 5-9 years
                        option(value='46Week') > 10 years
                    .divTableCell(style='width:16%;')
                      select#id_VitaminD_Time.form-control(name='lifestyle[vitamin_D_period]')
                        option(value='NoChoosed') Select Time...
                        option(value='Never') < year
                        option(value='13Month') 1-4 years
                        option(value='13Week') 5-9 years
                        option(value='46Week') > 10 years
                    .divTableCell(style='width:16%;')
                      select#id_VitaminE_Time.form-control(name='lifestyle[vitamin_E_period]')
                        option(value='NoChoosed') Select Time...
                        option(value='Never') < year
                        option(value='13Month') 1-4 years
                        option(value='13Week') 5-9 years
                        option(value='46Week') > 10 years
                    .divTableCell(style='width:16%;')
                      select#id_MultiVitamin_Time.form-control(name='lifestyle[multivitamins_period]')
                        option(value='NoChoosed') Select Time...
                        option(value='Never') < year
                        option(value='13Month') 1-4 years
                        option(value='13Week') 5-9 years
                        option(value='46Week') > 10 years

            fieldset#fieldsetSectionBEval
              label Section B Completion Evaluation Questions
              .form-group
                .divTable
                  .divTableRow
                    .divTableCell.NoDivTableBorder
                      span Were you able to respond to the questions of this Section ?
                    .divTableCell.NoDivTableBorder(style='padding:10px !important;')
                      select#selectEval.form-control
                        option(value='NoChoosed') Select...
                        option(value='All') All questions
                        option(value='Most') Most questions
                        option(value='Half') Nearly half of the questions
                        option(value='Few') Very few questions
                  .divTableRow
                    .divTableCell.NoDivTableBorder
                      span Which questions of this Section did you consider difficult to fill in?
                    .divTableCell.NoDivTableBorder(style='padding:10px !important;')
                      select#selectQuestions.form-control
                        option(value='NoChoosed') Select...
                        option(value='No') No
                        option(value='Yes') Yes
                .group.hidden-control(style='margin-top:20px;')
                  input#QuestionHidden(type='number')
                  span.highlight
                  span.bar
                  label Number:



          div.alphaformfooter
          div.formfooter
          input.scroll-button-bottom(type='button')
          input#thirdprevious.previous.action-button(type='button', name='previous', value='Previous')
          input#forthnext.next.action-button(type='button', name='next', value='Next')


        fieldset
          div.scrollingdiv
            h2.fs-title CLINICAL EXAMINATION
            h3.fs-subtitle completed by physician/study nurse

            fieldset#fieldsetLentigines
              label Solar Lentigines
              p
                | Definition: permanent multiple macular pigmented lesions, aggregated, in areas of chronic sun exposure,
                | do not disappear in winter
              .form-group
                .divTable
                  .divTableRow
                    .divTableCell.NoDivTableBorder
                      span Record according to severity:
                    .divTableCell.NoDivTableBorder(style='padding:10px !important;')
                      select#selectRecord.form-control(name='clinical_examination[solar_lentigines_frequency]')
                        option(value='NoChoosed') Select...
                        option(value='None') None
                        option(value='Few') Few
                        option(value='Many') Many
                  .divTableRow
                    .divTableCell.NoDivTableBorder
                      span At site of melanoma (i.e. area around the site w/ a 20 cm radius)?
                    .divTableCell.NoDivTableBorder(style='padding:10px !important;')
                      select#selectLentiginesSite.form-control(name='clinical_examination[solar_lentigines_at_melanoma]')
                        option(value='NoChoosed') Select...
                        option(value='No') No
                        option(value='Yes') Yes

            fieldset#fieldsetNeviCount
              label Nevi count
              .form-group
                .divTable
                  .divTableRow
                    .divTableCell(style='width:40%;') Site
                    .divTableCell(style='width:30%;') Number(left)
                    .divTableCell(style='width:30%;') Number(right)
                  .divTableRow
                    .divTableCell(style='width:40%;') Scalp
                    .divTableCell(style='width:30%;')
                      input#inputScalpLeft(type='number', name='clinical_examination[nevi_count][left_scalp]')
                      span.highlight
                      span.bar(style='')
                    .divTableCell(style='width:30%;')
                      input#inputScalpRight(type='number', name='clinical_examination[nevi_count][right_scalp]')
                      span.highlight
                      span.bar(style='')
                  .divTableRow
                    .divTableCell(style='width:40%;') Face(including ears)
                    .divTableCell(style='width:30%;')
                      input#inputFaceLeft(type='number', name='clinical_examination[nevi_count][left_face]')
                      span.highlight
                      span.bar(style='')
                    .divTableCell(style='width:30%;')
                      input#inputFaceRight(type='number', name='clinical_examination[nevi_count][right_face]')
                      span.highlight
                      span.bar(style='')
                  .divTableRow
                    .divTableCell(style='width:40%;') Neck
                    .divTableCell(style='width:30%;')
                      input#inputNeckLeft(type='number', name='clinical_examination[nevi_count][left_neck]')
                      span.highlight
                      span.bar(style='')
                    .divTableCell(style='width:30%;')
                      input#inputNeckRight(type='number', name='clinical_examination[nevi_count][right_neck]')
                      span.highlight
                      span.bar(style='')
                  .divTableRow
                    .divTableCell(style='width:40%;') Anterior thorax + abdomen
                    .divTableCell(style='width:30%;')
                      input#inputThoraxAbdomenLeft(type='number', name='clinical_examination[nevi_count][left_thorax_abdomen]')
                      span.highlight
                      span.bar(style='')
                    .divTableCell(style='width:30%;')
                      input#inputThoraxAbdomenRight(type='number', name='clinical_examination[nevi_count][right_thorax_abdomen]')
                      span.highlight
                      span.bar(style='')
                  .divTableRow
                    .divTableCell(style='width:40%;') Back
                    .divTableCell(style='width:30%;')
                      input#inputBackLeft(type='number', name='clinical_examination[nevi_count][left_back]')
                      span.highlight
                      span.bar(style='')
                    .divTableCell(style='width:30%;')
                      input#inputBackRight(type='number', name='clinical_examination[nevi_count][right_back]')
                      span.highlight
                      span.bar(style='')
                  .divTableRow
                    .divTableCell(style='width:40%;') Upper extremities including deltoid
                    .divTableCell(style='width:30%;')
                      input#inputDeltoidLeft(type='number', name='clinical_examination[nevi_count][left_deltoid]')
                      span.highlight
                      span.bar(style='')
                    .divTableCell(style='width:30%;')
                      input#inputDeltoidRight(type='number', name='clinical_examination[nevi_count][right_deltoid]')
                      span.highlight
                      span.bar(style='')
                  .divTableRow
                    .divTableCell(style='width:40%;') Lower extremities including gluteus
                    .divTableCell(style='width:30%;')
                      input#inputGluteusLeft(type='number', name='clinical_examination[nevi_count][left_gluteus]')
                      span.highlight
                      span.bar(style='')
                    .divTableCell(style='width:30%;')
                      input#inputGluteusRight(type='number', name='clinical_examination[nevi_count][right_gluteus]')
                      span.highlight
                      span.bar(style='')
                  .divTableRow
                    .divTableCell(style='width:40%;') Palms
                    .divTableCell(style='width:30%;')
                      input#inputPalmsLeft(type='number', name='clinical_examination[nevi_count][left_palms]')
                      span.highlight
                      span.bar(style='')
                    .divTableCell(style='width:30%;')
                      input#inputPalmsRight(type='number', name='clinical_examination[nevi_count][right_palms]')
                      span.highlight
                      span.bar(style='')
                  .divTableRow
                    .divTableCell(style='width:40%;') Soles
                    .divTableCell(style='width:30%;')
                      input#inputSolesLeft(type='number', name='clinical_examination[nevi_count][left_soles]')
                      span.highlight
                      span.bar(style='')
                    .divTableCell(style='width:30%;')
                      input#inputSolesRight(type='number', name='clinical_examination[nevi_count][right_soles]')
                      span.highlight
                      span.bar(style='')

            fieldset#fieldsetNevi2mmCount
              label Nevi 2mm count
              p(style='color:red;') (Optional)
              .form-group
                .divTable
                  .divTableRow
                    .divTableCell.NoDivTableBorder
                      span Consider nevi <= 2 mm
                    .divTableCell.NoDivTableBorder(style='padding:10px !important;')
                      select#select2mmNevi.form-control(name='clinical_examination[nevi_2mm_count]')
                        option(value='NoChoosed') Select...
                        option(value='0') 0
                        option(value='1-50') 1-50
                        option(value='51-100') 51-100
                        option(value='101-200') 101-200
                        option(value='greater_than_200') > 200

            fieldset#fieldsetAtypicalNevi
              label Clinically atypical nevi
              p
                | Clinical definition: macular (i.e. flat) component in at least part of the lesion (mandatory) and at
                | least 3 of the following criteria:
              ul
                li
                  | >5mm/li>
                li multiple colors
                li hazy borders
                li erythema
              p
              .form-group
                .divTable
                  .divTableRow
                    .divTableCell.NoDivTableBorder
                      span Record number of clinically atypical nevi as a continuous variable:
                    .divTableCell.NoDivTableBorder(style='padding:10px !important;')
                      .form-group
                        input#inputNumberAtypicalNevi(type='number' placeholder='Number:' required='' style='width:50%;text-align:center;' name='clinical_examination[atypical_nevi_count]')
                        span.highlight(style='width:50%;text-align:center;')
                        span.bar(style='width:50%;text-align:center;')
                  .divTableRow
                    .divTableCell.NoDivTableBorder
                      span At site of melanoma (i.e. area around the site with a 20 cm radius)? 
                    .divTableCell.NoDivTableBorder(style='padding:10px !important;' name='clinical_examination[atypical_nevi_at_melanoma]')
                      .form-group
                        select#selectClinicalAtypicalNevi.form-control
                          option(value='No Choosed') Select...
                          option(value='No') No
                          option(value='Yes') Yes


            fieldset#fieldsetCongenitalNevi(style='margin-top: 20px;')
              label(for='42940743')
                | Congenital nevi, CN
              p(style='font-size:10px;') (only medium, large, or giant)
              p(style='font-size:10px;') Size at phenotyping for:
              ul(style='font-size:10px;')
                li medium CN >1.5–19.9 cm
                li large CN ≥20 cm
                li giant CN ≥40 cm
              p(style='font-size:10px;') Exclude small (i.e. ≤1.5 cm CN)
              .form-group(style='margin-top: 20px;')
                .divTable(style='width: 100%;')
                  .divTableBody
                    .divTableRow
                      .divTableCell.NoDivTableBorder(style='width:34%;')
                        span Medium sized CN
                      .divTableCell.NoDivTableBorder(style='width:32%;')
                        select#selectMediumSizedCN.form-control(name='clinical_examination[congenital_nevi][medium_sized][presence]')
                          option(value='NoChoosed') Select...
                          option(value='No') No
                          option(value='Yes') Yes
                      .divTableCell.NoDivTableBorder(style='width:32%;')
                        .hidden-control
                          .group.google_special_label(style='margin-bottom:0%;vertical-align: bottom;')
                            input#inputMediumSizedCN(type='text' placeholder='Right Arm,Left Feet' style='width:80%;margin-left:35%;' name='clinical_examination[congenital_nevi][medium_sized][sites]')
                            span.highlight(style='width:80%;margin-left:35%;')
                            span.bar(style='width:80%;margin-left:35%;')
                            label(style='font-size: 12px;') Site(s):
              .form-group(style='margin-top: 20px;')
                .divTable(style='width: 100%;')
                  .divTableBody
                    .divTableRow
                      .divTableCell.NoDivTableBorder(style='width:34%;')
                        span Large sized CN
                      .divTableCell.NoDivTableBorder(style='width:32%;')
                        select#selectLargeSizedCN.form-control(name='clinical_examination[congenital_nevi][large_sized][presence]')
                          option(value='NoChoosed') Select...
                          option(value='No') No
                          option(value='Yes') Yes
                      .divTableCell.NoDivTableBorder(style='width:32%;')
                        .hidden-control
                          .group.google_special_label(style='margin-bottom:0%;vertical-align: bottom;')
                            input#inputLargeSizedCN(type='text' placeholder='Right Arm,Left Feet' style='width:80%;margin-left:35%;' name='clinical_examination[congenital_nevi][large_sized][sites]')
                            span.highlight(style='width:80%;margin-left:35%;')
                            span.bar(style='width:80%;margin-left:35%;')
                            label(style='font-size: 12px;') Site(s):
              .form-group(style='margin-top: 20px;')
                .divTable(style='width: 100%;')
                  .divTableBody
                    .divTableRow
                      .divTableCell.NoDivTableBorder(style='width:34%;')
                        span Giant sized CN
                      .divTableCell.NoDivTableBorder(style='width:32%;')
                        select#selectGiantSizedCN.form-control(name='clinical_examination[congenital_nevi][giant_sized][presence]')
                          option(value='NoChoosed') Select...
                          option(value='No') No
                          option(value='Yes') Yes
                      .divTableCell.NoDivTableBorder(style='width:32%;')
                        .hidden-control
                          .group.google_special_label(style='margin-bottom:0%;vertical-align: bottom;')
                            input#inputGiantSizedCN(type='text' placeholder='Right Arm,Left Feet' style='width:80%;margin-left:35%;' name='clinical_examination[congenital_nevi][giant_sized][sites]')
                            span.highlight(style='width:80%;margin-left:35%;')
                            span.bar(style='width:80%;margin-left:35%;')
                            label(style='font-size: 12px;') Site(s):


            fieldset#fieldsetBlueNevi(style='margin-top: 20px;')
              label(for='42940743')
                | Blue nevi
              p(style='color:red;') (Optional)
              .form-group(style='margin-top: 20px;')
                .divTable(style='width: 100%;')
                  .divTableBody
                    .divTableRow
                      .divTableCell.NoDivTableBorder(style='width:34%;')
                        span Medium sized CN
                      .divTableCell.NoDivTableBorder(style='width:32%;')
                        select#selectBlueNevi.form-control(name='clinical_examination[blue_nevi][medium_sized][presence]')
                          option(value='NoChoosed') Select...
                          option(value='No') No
                          option(value='Yes') Yes
                      .divTableCell.NoDivTableBorder(style='width:32%;')
                        .hidden-control
                          .group.google_special_label(style='margin-bottom:0%;vertical-align: bottom;')
                            input#inputBlueNevi(type='number' style='width:80%;margin-left:35%;' name='clinical_examination[blue_nevi][medium_sized][count]' required='' )
                            span.highlight(style='width:80%;margin-left:35%;')
                            span.bar(style='width:80%;margin-left:35%;')
                            label(style='font-size: 12px;') Number:


            fieldset#fieldsetActinicKeratoses(style='margin-top: 20px;')
              label(for='42940743') Actinic keratoses
              .form-group(style='margin-top: 20px;')
                .divTable(style='width: 100%;')
                  .divTableBody
                    .divTableRow
                      .divTableCell.NoDivTableBorder(style='width:34%;')
                        span Actinic keratoses
                      .divTableCell.NoDivTableBorder(style='width:32%;')
                        select#selectActinicKeratoses.form-control(name='clinical_examination[actinic_keratoses][presence]')
                          option(value='NoChoosed') Select...
                          option(value='No') No
                          option(value='Yes') Yes
              .form-group
                .divTable
                  .divTableRow
                    .divTableCell.NoDivTableBorder
                    .divTableCell.NoDivTableBorder(style='width:32%;')
                      .hidden-control
                        .group(style='margin-bottom:0%;vertical-align: bottom;')
                          select#selectActinicKeratosesSite.form-control(name='clinical_examination[actinic_keratoses][site]')
                            option(value='NoChoosed') Select Site...
                            option(value='Scalp') Scalp
                            option(value='Face') Face
                            option(value='Other')
                              | Other exposed areas (hands, arms, trunk, legs)
              .form-group(style='margin-top: 20px;')
                .divTable(style='width: 100%;')
                  .divTableBody
                    .divTableRow
                      .divTableCell.NoDivTableBorder  
                      .divTableCell.NoDivTableBorder(style='width:32%;')
                        .hidden-control
                          .group(style='margin-bottom:0%;vertical-align: bottom;')
                            select#selectActinicKeratosesDistribution.form-control(name='clinical_examination[actinic_keratoses][distribution]')
                              option(value='NoChoosed') Select Distribution...
                              option(value='Isolated') Isolated/Scattered
                              option(value='Clustered') Clustered
                              option(value='Confluent') Confluent


            fieldset#fieldsetKSC_BCC_SCC(style='margin-top: 20px;')
              label(for='42940743')
                | Current (i.e. at time of visit) non-melanoma skin cancer, KSC (basal cell carcinoma,
                | BCC, and squamous cell carcinoma, SCC)
              .form-group
                .divTable(style='width: 100%;')
                  .divTableRow
                    .divTableCell.NoDivTableBorder(style='width:50%;')
                      span BCC:
                    .divTableCell.NoDivTableBorder(style='width:50%;')
                      select#selectBCC.form-control(name='clinical_examination[BCC][presence]')
                        option(value='No') No
                        option(value='Yes') Yes
                  .divTableRow
                    .divTableCell.NoDivTableBorder(style='width:50%;')
                      .hidden-control
                        .group.google_special_label(style='margin-bottom:-4%;')
                          input#inputBCCNumber(type='text' style='width:80%;' name='clinical_examination[BCC][count]')
                          span.highlight(style='width:80%;')
                          span.bar(style='width:80%;')
                          label Number:
                    .divTableCell.NoDivTableBorder(style='width:50%;')
                      .hidden-control
                        .group.google_special_label(style='margin-bottom:-4%;')
                          input#inputBCC(type='text' style='width:80%;' name='clinical_examination[BCC][sites]')
                          span.highlight(style='width:80%;')
                          span.bar(style='width:80%;')
                          label Site(s):
              .form-group
                .divTable(style='width: 100%;')
                  .divTableRow
                    .divTableCell.NoDivTableBorder(style='width:50%;')
                      span Invasive SCC:
                    .divTableCell.NoDivTableBorder(style='width:50%;')
                      select#selectSCC.form-control(name='clinical_examination[invasive_SCC][presence]')
                        option(value='No') No
                        option(value='Yes') Yes
                  .divTableRow
                    .divTableCell.NoDivTableBorder(style='width:50%;')
                      .hidden-control
                        .group.google_special_label(style='margin-bottom:-4%;')
                          input#inputSCCNumber(type='text' style='width:80%;' name='clinical_examination[invasive_SCC][count]')
                          span.highlight(style='width:80%;')
                          span.bar(style='width:80%;')
                          label Number:
                    .divTableCell.NoDivTableBorder(style='width:50%;')
                      .hidden-control
                        .group.google_special_label(style='margin-bottom:-4%;')
                          input#inputSCC(type='text' style='width:80%;' name='clinical_examination[invasive_SCC][sites]')
                          span.highlight(style='width:80%;')
                          span.bar(style='width:80%;')
                          label Site(s):
              .form-group
                .divTable(style='width: 100%;')
                  .divTableRow
                    .divTableCell.NoDivTableBorder(style='width:50%;')
                      span In situ SCC:
                    .divTableCell.NoDivTableBorder(style='width:50%;')
                      select#selectSCCSite.form-control(name='clinical_examination[insitu_SCC][presence]')
                        option(value='No') No
                        option(value='Yes') Yes
                  .divTableRow
                    .divTableCell.NoDivTableBorder(style='width:50%;')
                      .hidden-control
                        .group.google_special_label(style='margin-bottom:-4%;')
                          input#inputSCCSiteNumber(type='text' style='width:80%;' name='clinical_examination[insitu_SCC][count]')
                          span.highlight(style='width:80%;')
                          span.bar(style='width:80%;')
                          label Number:
                    .divTableCell.NoDivTableBorder(style='width:50%;')
                      .hidden-control
                        .group.google_special_label(style='margin-bottom:-4%;')
                          input#inputSCCSite(type='text' style='width:80%;' name='clinical_examination[insitu_SCC][sites]')
                          span.highlight(style='width:80%;')
                          span.bar(style='width:80%;')
                          label Site(s):

          div.alphaformfooter
          div.formfooter
          input.scroll-button-bottom(type='button')
          input#forthprevious.previous.action-button(type='button', name='previous', value='Previous')
          input#fifthnext.next.action-button(type='button', name='next', value='Next')
                    
        fieldset
          div.scrollingdiv
            h2.fs-title MEDICAL HISTORY
            h3.fs-subtitle completed by physician/study nurse

            div(id='Section C2')
              span MEDICAL HISTORY/MEDICATIONS
              p.help-block (completed by physician/study nurse)
              #fieldsetHistoryMedicalDiagnosis
                label(for='593911901') History of medical (non-cancer) diagnoses
                .form-group
                  .divTable
                    .divTableRow
                      .divTableCell.NoDivTableBorder(style='width:40%;')
                        input#ICD10Code(type='text', value='', placeholder='Search by ICD10 code or name of disease')
                      .divTableCell.NoDivTableBorder
                        //
                          <input id="ICD10_Search_Toggle" type="checkbox" checked data-toggle="toggle"
                          data-on="Search by Code" data-off="Search by Desc" data-onstyle="success" data-offstyle="info">
                        // <button id="btn-Add_ICD10" type="button" class="btn btn-info">Add</button>
                #json_medical_history.form-group

          div.alphaformfooter
          div.formfooter
          input.scroll-button-bottom(type='button')
          input#fifthprevious.previous.action-button(type='button', name='previous', value='Previous')
          input#sixthnext.next.action-button(type='button', name='next', value='Next')
                    
        fieldset
          div.scrollingdiv
            h2.fs-title FAMILY HISTORY
            h3.fs-subtitle completed by physician/study nurse


          div.alphaformfooter
          div.formfooter
          input.scroll-button-bottom(type='button')
          input#sixthprevious.previous.action-button(type='button', name='previous', value='Previous')
          input#seventhnext.next.action-button(type='button', name='next', value='Next')
                    
        fieldset
          div.scrollingdiv
            h2.fs-title MELANOMA CHARACTERISTICS
            h3.fs-subtitle completed by physician/study nurse

          div.alphaformfooter
          div.formfooter
          input.scroll-button-bottom(type='button')
          input#seventhprevious.previous.action-button(type='button', name='previous', value='Previous')
          input.submit.action-button#submit(type='submit', value='Submit')
