extends layout

block content
  iframe(style="width: -webkit-fill-available; height: -webkit-fill-available; margin-top: 70px;" src="http://localhost:5601/app/kibana#/dashboard?embed=true&_g=()&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),panels:!((embeddableConfig:(),gridData:(h:15,i:'9795bbc0-4367-4500-ba3f-2491724a3562',w:24,x:0,y:0),id:e4fdcab0-0ea2-11ea-8fc6-b5a2e5472e1f,panelIndex:'9795bbc0-4367-4500-ba3f-2491724a3562',type:visualization,version:'7.4.2')),query:(language:kuery,query:''),timeRestore:!f,title:'New+Dashboard',viewMode:edit)")

            