extends layout

block append style
    link(rel='stylesheet', href='/stylesheet/statistics.css')

block append script
    script(src='/javascript/statistics.js')

block content
    div.profile-header
      button.questionnaires-list-button(onclick="var t = document.getElementsByClassName(\"kibana\"); var q = t[0]; q.classList.add(\"fade-out-top\"); window.location.href = '/home';")
        |  QUESTIONNAIRES<br>
        i.fa.fa-caret-down

      button.new-questionnaire-button(onclick="var t = document.getElementsByClassName(\"kibana\"); var q = t[0]; q.classList.add(\"fade-out-top\"); window.location.href = '/stepform';")
        |  CREATE NEW<br>
        i.fa.fa-caret-down
          
      button.statistics-button(onclick="window.location.href = '/statistics';")
        |  STATISTICS<br>
        i.fa.fa-caret-down

      button.btn.logout-button(onclick="window.location.href = '/logout';")
        i.fa.fa-sign-out 
        |  Logout

    iframe.kibana(src="http://localhost:5601/app/kibana#/dashboard/f2dc9d80-2a56-11ea-abee-678cb5ff7497?_g=(filters%3A!())")

            